# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\!Учеба\СОК 2\RNS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
